/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Header */
.header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

/* Main Content Container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Columns */
.column {
    transition: transform 0.3s ease;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.column:hover {
    transform: scale(1.03);
}


/* Left Sidebar */
.left {
    flex: 1;
    min-width: 200px;
}

/* Center Main Content */
.center {
    flex: 2;
    min-width: 300px;
}

/* Right Sidebar */
.right {
    flex: 1;
    min-width: 200px;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        
        gap: 20px;
    }

    .column {
        transition: transform 0.3 ease;
        width: 90%;
        margin-bottom: 10px;
    }
}
