body {
    font-family: Arial, sans-serif;
    background-color: #f5f1f1;
    color: #f70808;
    padding: 20px;
}

h1 {
    color: #007BFF;
}

p {
    font-size: 18px;
}

ul {
    list-style-type: square;
}
